[submodule "backend"]
	path = backend
	url = https://github.com/estebanSulcaInfante/envaperu-workflow.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/estebanSulcaInfante/envaperu-workflow-frontend.git
[submodule "modulo-pesaje"]
	path = modulo-pesaje
	url = https://github.com/estebanSulcaInfante/envaperu-workflow-scale-module-desktop.git
